.side-nav-header {
  display: none;
}

.header__button {
  width: 50px;
  flex-shrink: 0;
  background: none;
  outline: none;
  border: none;
  color: $white-color;
  cursor: pointer;
}

.side-nav__links {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100vh;
  width: 250px;
  background: #fff;
  direction: rtl;
  font-family: Varela;
  transform: translateX(250px);
  transition: transform 0.3s;
}

.side-nav--open .side-nav__links {
  transform: translateX(0);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.side-nav__link {
  display: flex;
  align-items: center;
  color: #666;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  padding: 12px 15px;
  background: transform 0.2s;
}

.side-nav__links a i {
  margin-left: 15px;
}

.side-nav__link--active {
  color: $primary-color !important;
}

.side-nav__link--active,
.side-nav__link:hover {
  background: #eee;
}

.side-nav__overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.side-nav--open .side-nav__overlay {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1034px) {
  .side-nav-header {
    display: block;
  }
}
