.trackSearch {
  border: 1px #ccc dotted;
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 6px 20px -8px rgba(0, 0, 0, 0.25);
  width: 550px;
  height: 710px;
  position: relative;
}

.trackSearch__search {
  display: flex;
}

.trackSearch__search input {
  flex: 1;
  border-radius: 0;
}

.trackSearch__search button {
  background-color: $primary-color;
  border: none;
  padding: 0;
  height: 40px;
  position: relative;
  top: 8px;
  padding: 0 10px;
  font-weight: 900;
  color: #fff;
  cursor: pointer;
}

.trackSearch__search button:hover {
  opacity: 0.8;
}

.trackSearch__clear {
  padding: 5px;
  border: #ccc 1px dotted;
  margin-left: 2px;
  border-radius: 5px;
}

.trackSearch__clear i {
  color: $primary-color;
}

.trackSearch__clear:hover {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}

.trackSearch__preview {
  display: flex;
  margin: 0.5rem 0;
  padding: 5px;
  justify-content: space-between;
  border-bottom: 1px #ccc dotted;
}

.trackSearch__preview div {
  display: flex;
}

.trackSearch__preview p {
  display: flex;
  margin: auto 0;
}

.trackSearch__preview div p {
  margin: auto 15px;
  font-weight: 900;
}

.trackSearch__preview p i {
  color: #555;
  margin: auto 5px;
}

.trackSearch__preview:hover {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
  border-radius: 10px;
}

.trackSearch__preview img {
  width: 40px;
  object-fit: contain;
  margin-right: 5px;
}

.trackSearch__preview h3 {
  margin: auto 0;
  font-weight: lighter;
  color: #666;
}

.trackSearch__buttons {
  display: flex;
  padding: 0 15px;
  position: absolute;
  bottom: 5px;
}

.trackSearch__buttons span i {
  font-size: 2rem;
  color: $primary-color;
  cursor: pointer;
}

.trackSearch__buttons div {
  position: relative;
  left: 380px;
}

.trackSearch__buttons div span i {
  margin-left: 15px;
}

.active {
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
}

.trackSearch__list {
  margin: 0rem 0;
}

.trackSearch__list p {
  font-size: 14px;
  margin-left: 5px;
  margin-top: 1rem;
}

.trackSearch__list p i {
  color: $primary-color;
  margin-right: 5px;
}

.trackSearch__list-tile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
}

.trackSearch__preview-tile {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: auto;
}

.trackSearch__preview-tile:hover {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}

.trackSearch__preview-tile h3 {
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}

.trackSearch__preview-tile img {
  width: 100px;
  object-fit: contain;
  margin: 0 auto;
}

.trackSearch__preview-tile p {
  margin: 0 auto;
  font-size: 10px;
}

@media screen and (max-width: 580px) {
  .trackSearch {
    width: 350px;
  }
  .trackSearch__buttons div {
    position: relative;
    left: 180px;
  }

  .trackSearch__preview div {
    font-size: 10px;
  }

  .trackSearch__list-tile {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0rem;
  }

  .trackSearch__preview-tile img {
    width: 50px;
  }

  .trackSearch__list p {
    font-size: 10px;
  }
}
