.trackSearch{
    border: 1px #ccc dotted;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 6px 20px -8px rgba(0, 0, 0, 0.25);
    width: 550px;
    height: 710px;
}

.trackSearch__search{
    display: flex;
}

.trackSearch__search input {
    flex: 1;
    border-radius: 0;
}

.trackSearch__search button{
    background-color: $primary-color;
    border: none;
    padding: 0;
    height: 40px;
    position: relative;
    top: 8px;
    padding: 0 10px;
    font-weight: 900;
    color: #fff;
    cursor: pointer;
}

.trackSearch__search button:hover{
    opacity: 0.8;
}

.trackSearch__preview{
    display: flex;
    margin: 1.8rem 0;
    padding: 10px;
    justify-content: space-between;
}

.trackSearch__preview div{
    display: flex;
}

.trackSearch__preview p{
    margin: auto 0;
    margin-left: 40px;
}

.trackSearch__preview p i{
    color: #777;
    margin-right: 5px;
}

.trackSearch__preview:hover{
    background-color: rgb(236, 236, 236);
    cursor: pointer;
    border-radius: 10px;
}

.trackSearch__preview img{
    width: 40px;
    object-fit: contain;
    margin-right: 5px;
}

.trackSearch__preview h3{
    margin: auto 0;
    font-weight: lighter;
    color: #555;
}

.trackSearch__buttons{
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

.trackSearch__buttons span i{
    font-size: 2rem;
    color: $primary-color;
    cursor: pointer;
}

.trackSearch__buttons div span i{
    margin-left: 15px;
}

.active{
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
}

.trackSearch__clear{
    padding: 5px;
    border: #ccc 1px dotted;
    margin-left: 2px;
    border-radius: 5px;
}

.trackSearch__clear i {
    color: $primary-color
}

.trackSearch__clear:hover{
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.trackSearch__list-tile{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}

.trackSearch__preview-tile{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.trackSearch__preview-tile:hover{
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.trackSearch__preview-tile h3{
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}

.trackSearch__preview-tile img{
    width: 100px;
    object-fit: contain;
    margin: 0 auto;
}

.trackSearch__preview-tile p{
    margin: 0 auto;
    font-size: 10px;
}

@media screen and (max-width: 580px) {
  .trackSearch {
    width: 370px;
  }

  .trackSearch__list-tile{
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0rem;
  }

  .trackSearch__preview-tile img{
    width: 50px;
}
}